Repository sourcefuse/loopback4-microservice-catalog, pull requests merged in 2020-06, with the labels that each got.

#3 feat(video-conferencing-service): SFO-48 Project Setup, sonar fixes and file indentation
  package-lock.json
  services/video-conferencing-service/.db-migraterc
  services/video-conferencing-service/.dockerignore
  services/video-conferencing-service/.env.defaults
  services/video-conferencing-service/.env.example
  services/video-conferencing-service/index.ts
  services/video-conferencing-service/migrations/20200526081137-db-init.js
  services/video-conferencing-service/migrations/database.json
  services/video-conferencing-service/migrations/sqls/20200526081137-db-init-down.sql
  services/video-conferencing-service/migrations/sqls/20200526081137-db-init-up.sql
  services/video-conferencing-service/migrations/videchat.dbs
  services/video-conferencing-service/package-lock.json
  services/video-conferencing-service/package.json
  services/video-conferencing-service/src/__tests__/helpers.ts
  services/video-conferencing-service/src/__tests__/unit/controllers/video-chat.controller.unit.ts
  services/video-conferencing-service/src/component.ts
  services/video-conferencing-service/src/controllers/README.md
  services/video-conferencing-service/src/controllers/index.ts
  services/video-conferencing-service/src/controllers/video-chat-archive.controller.ts
  services/video-conferencing-service/src/controllers/video-chat-session.controller.ts
  services/video-conferencing-service/src/enums/index.ts
  services/video-conferencing-service/src/enums/permission-keys.enum.ts
  services/video-conferencing-service/src/enums/video-chat.enum.ts
  services/video-conferencing-service/src/keys.ts
  services/video-conferencing-service/src/models/README.md
  services/video-conferencing-service/src/models/audit-logs.model.ts
  services/video-conferencing-service/src/models/index.ts
  services/video-conferencing-service/src/models/video-chat-session.model.ts
  services/video-conferencing-service/src/providers/vonage/index.ts
  services/video-conferencing-service/src/providers/vonage/keys.ts
  services/video-conferencing-service/src/providers/vonage/types.ts
  services/video-conferencing-service/src/providers/vonage/vonage.provider.ts
  services/video-conferencing-service/src/repositories/README.md
  services/video-conferencing-service/src/repositories/audit-logs.repository.ts
  services/video-conferencing-service/src/repositories/index.ts
  services/video-conferencing-service/src/repositories/video-chat-session.repository.ts
  services/video-conferencing-service/src/types.ts
  services/video-conferencing-service/tsconfig.json
Labels: Project Setup, enhancement

#10 docs(scheduler-service): SFO-78 update README
  services/scheduler-service/README.md
Labels: scheduler-service

#12 docs(video-conferencing-service): add documentation in README.md
  services/video-conferencing-service/README.md
Labels: documentation

#16 test(scheduler-service): add controller test case, remove unused cont…
  services/scheduler-service/src/__tests__/acceptance/attachment.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/attendee.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/calendar-event.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/calendar.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/event.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/helper.ts
  services/scheduler-service/src/__tests__/acceptance/settings.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/subscription.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/theme.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/working-hour.controller.acceptance.ts
  services/scheduler-service/src/__tests__/bearer-token-verifier.provider.ts
  services/scheduler-service/src/component.ts
  services/scheduler-service/src/controllers/attachment-event.controller.ts
  services/scheduler-service/src/controllers/attendee-event.controller.ts
  services/scheduler-service/src/controllers/calendar-subscription.controller.ts
  services/scheduler-service/src/controllers/calendar-working-hour.controller.ts
  services/scheduler-service/src/controllers/event-attachment.controller.ts
  services/scheduler-service/src/controllers/event-attendee.controller.ts
  services/scheduler-service/src/controllers/event-calendar.controller.ts
  services/scheduler-service/src/controllers/event-event.controller.ts
  services/scheduler-service/src/controllers/index.ts
  services/scheduler-service/src/controllers/subscription-calendar.controller.ts
  services/scheduler-service/src/controllers/working-hour-calendar.controller.ts
Labels: scheduler-service

#15 fix(scheduler-service): SFO-86 make scheduler identifier generic
  services/scheduler-service/migrations/20200616144253-update-schduler-identifier.js
  services/scheduler-service/migrations/sqls/20200616144253-update-schduler-identifier-down.sql
  services/scheduler-service/migrations/sqls/20200616144253-update-schduler-identifier-up.sql
  services/scheduler-service/src/models/attendee.model.ts
  services/scheduler-service/src/models/calendar.model.ts
  services/scheduler-service/src/models/event.dto.ts
  services/scheduler-service/src/models/event.model.ts
  services/scheduler-service/src/models/subscription.model.ts
  services/scheduler-service/src/types.ts
Labels: enhancement, scheduler-service

#22 feat(scheduler-service): SFO-88 change email to identifier
  services/scheduler-service/migrations/20200616144253-update-schduler-identifier.js
  services/scheduler-service/migrations/sqls/20200616144253-update-schduler-identifier-down.sql
  services/scheduler-service/migrations/sqls/20200616144253-update-schduler-identifier-up.sql
  services/scheduler-service/package-lock.json
  services/scheduler-service/src/__tests__/acceptance/attendee.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/calendar-event.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/calendar.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/event.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/subscription.controller.acceptance.ts
  services/scheduler-service/src/__tests__/unit/validator.service.unit.ts
  services/scheduler-service/src/controllers/subscription.controller.ts
  services/scheduler-service/src/models/enums/identifier-type.enum.ts
  services/scheduler-service/src/models/index.ts
  services/scheduler-service/src/services/validator.service.ts
  services/scheduler-service/src/types.ts
Labels: scheduler-service

#25 feat(scheduler-service): SFO-89 add event listing API and view migration
  services/scheduler-service/migrations/20200622050609-event-attendee-view.js
  services/scheduler-service/migrations/sqls/20200622050609-event-attendee-view-down.sql
  services/scheduler-service/migrations/sqls/20200622050609-event-attendee-view-up.sql
  services/scheduler-service/src/__tests__/acceptance/calendar-event.controller.acceptance.ts
  services/scheduler-service/src/component.ts
  services/scheduler-service/src/controllers/calendar-event.controller.ts
  services/scheduler-service/src/models/attendee.model.ts
  services/scheduler-service/src/models/enums/error-keys.ts
  services/scheduler-service/src/models/event-attendee-view.model.ts
  services/scheduler-service/src/models/index.ts
  services/scheduler-service/src/repositories/event-attendee-view.repository.ts
  services/scheduler-service/src/repositories/index.ts
  services/scheduler-service/src/services/calendar-event.service.ts
  services/scheduler-service/src/services/index.ts
Labels: scheduler-service

#27 test(scheduler-service): add test case for calendar-event
  services/scheduler-service/src/__tests__/acceptance/calendar-event.controller.acceptance.ts
  services/scheduler-service/src/__tests__/unit/calendar-event.service.unit.ts
Labels: scheduler-service

#29 fix(scheduler-service): SFO-92 fix test cases lint issues
  packages/core/locales/en.json
  sandbox/testing/src/controllers/ping.controller.ts
  services/scheduler-service/.prettierignore
  services/scheduler-service/src/__tests__/unit/validator.service.unit.ts
  services/scheduler-service/src/controllers/subscription.controller.ts
  services/scheduler-service/src/models/attendee.model.ts
  services/scheduler-service/src/models/enums/identifier-type.enum.ts
  services/scheduler-service/src/models/enums/index.ts
  services/scheduler-service/src/models/subscription.model.ts
  services/scheduler-service/src/services/validator.service.ts
  services/scheduler-service/src/types.ts
Labels: scheduler-service

#30 fix(scheduler-service): SFO-92 lint fix
  services/scheduler-service/package-lock.json
  services/scheduler-service/package.json
  services/scheduler-service/src/__tests__/unit/calendar-event.service.unit.ts
Labels: scheduler-service

#33 fix(scheduler-service): SFO-21 add audit triggers to database tables
  services/scheduler-service/migrations/20200625061758-create-audit-trigger.js
  services/scheduler-service/migrations/sqls/20200625061758-create-audit-trigger-down.sql
  services/scheduler-service/migrations/sqls/20200625061758-create-audit-trigger-up.sql
Labels: scheduler-service

#31 docs(scheduler-service): SFO-78 update readme
  services/scheduler-service/README.md
  services/scheduler-service/migrations/scheduler.dbs
  services/scheduler-service/migrations/scheduler_db_schema.png
  services/scheduler-service/scheduler_db_schema.png
  services/scheduler-service/src/providers/README.md
  services/scheduler-service/src/providers/custom-permissions.provider.ts
Labels: scheduler-service

#26 feat(scheduler-service): SFO-58 add free busy API and calendar with subscrip…
  services/scheduler-service/src/__tests__/acceptance/attendee.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/calendar-event.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/calendar.controller.acceptance.ts
  services/scheduler-service/src/__tests__/acceptance/event.controller.acceptance.ts
  services/scheduler-service/src/__tests__/unit/event.service.unit.ts
  services/scheduler-service/src/component.ts
  services/scheduler-service/src/controllers/calendar.controller.ts
  services/scheduler-service/src/controllers/event.controller.ts
  services/scheduler-service/src/models/calendar.dto.ts
  services/scheduler-service/src/models/enums/error-keys.ts
  services/scheduler-service/src/models/free-busy.dto.ts
  services/scheduler-service/src/models/index.ts
  services/scheduler-service/src/services/calendar.service.ts
  services/scheduler-service/src/services/event.service.ts
  services/scheduler-service/src/services/index.ts
  services/scheduler-service/src/services/validator.service.ts
Labels: scheduler-service

#36 feat(scheduler-service): add delete event with attachments and attendees
  services/scheduler-service/src/controllers/event.controller.ts
Labels: scheduler-service

#40 feat(scheduler-service): add migration for enums
  services/scheduler-service/.nycrc
  services/scheduler-service/migrations/20200630114107-add-enums.js
  services/scheduler-service/migrations/scheduler.dbs
  services/scheduler-service/migrations/scheduler_db_schema.png
  services/scheduler-service/migrations/sqls/20200630114107-add-enums-down.sql
  services/scheduler-service/migrations/sqls/20200630114107-add-enums-up.sql
  services/scheduler-service/src/models/attendee.model.ts
  services/scheduler-service/src/models/auth-user.interface.ts
  services/scheduler-service/src/models/event-attendee-view.model.ts
  services/scheduler-service/src/models/event.dto.ts
  services/scheduler-service/src/models/event.model.ts
  services/scheduler-service/src/models/index.ts
  services/scheduler-service/src/models/settings.model.ts
  services/scheduler-service/src/models/subscription.model.ts
  services/scheduler-service/src/models/working-hour.model.ts
Labels: scheduler-service
